<h1 class="ledger">Sales and purchase ledger</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Currency</th>
    <th>Sales</th>
    <th>Purchases</th>
    <th>Sale Receipts</th>
    <th>Purchase Payments</th>
    <th>Balance</th>
  </tr>
  <% @summaries.keys.sort.each do |id| -%>
    <% @summaries[id].keys.sort.each do |currency| -%>
      <tr>
        <td><%=h @names[id] %></td>
        <td><%=h currency %></td>
        <td><%=h @summaries[id][currency].sales_formatted %></td>
        <td><%=h @summaries[id][currency].purchases_formatted %></td>
        <td><%=h @summaries[id][currency].sale_receipts_formatted %></td>
        <td><%=h @summaries[id][currency].purchase_payments_formatted %></td>
        <td><%=h @summaries[id][currency].balance_formatted %></td>
      </tr>
    <% end -%>
  <% end -%>
</table>
