<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link href="/invoicing/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/invoicing/stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://feeds2.feedburner.com/invoicing" rel="alternate" title="Ruby Invoicing Framework" type="application/atom+xml" />
</head>

<body>
    <a href="http://github.com/ept/invoicing"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  
    <div id="container">
    {{ content }}
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7416738-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
